body {
  background-color: #0eb4e6;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  width: 400px;
  border-radius: 20px;
  border: none;
  height: 500px;
}
.login-form label {
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 210px;
}
.login-form input {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 45px;
  width: 300px;
  margin-bottom: 10px;
  font-size: 18px;
}
.login-form h1 {
  font-weight: 100;
  margin-bottom: 55px;
}
.login-form button {
  height: 40px;
  width: 180px;
  border-radius: 20px;
  border: none;
  background-color: #0eb4e6;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.login-form button:hover {
  background-color: #0a92b8;
}
.don_have_account {
  font-size: 18px;
}
