.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  width: 400px;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 500px;
}
.register-form label {
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 210px;
}
.register-form input {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 45px;
  width: 300px;
  margin-bottom: 10px;
  font-size: 18px;
}
.register-form h1 {
  font-weight: 100;
  margin-bottom: 55px;
}
.register-form button {
  height: 40px;
  width: 180px;
  border-radius: 20px;
  border: none;
  background-color: #0eb4e6;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
.register-form button:hover {
  background-color: #0a92b8;
}
.already_have_account {
  font-size: 18px;
}
