.update-profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 20px;
  width: 600px;
  height: 800px;
}
.update-profile-form div {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.update-profile-form h1 {
  font-size: 100;
  margin-bottom: 10px;
  margin-right: 250px;
}
.update-profile-form .profile-header {
  font-weight: 100;
  margin-bottom: 55px;
}
.update-profile-form .log-out-btn {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  border: none;
  background-color: #3e0707;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.update-profile-form .log-out-btn:hover {
  background-color: #690a0a;
}
.avatar-image {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  margin-bottom: 5px;
}
.update-profile-form label {
  border-left: #3d26c1;
  font-size: large;
  font-weight: bold;
  padding-top: 15px;
}
.update-profile-form input {
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 45px;
  width: 300px;
  margin-left: 85px;
  margin-bottom: 20px;
  font-size: 18px;
}
.update-profile-form .username-input {
  margin-left: 75px;
}
.update-profile-form .name-input {
  margin-left: 110px;
}
.update-profile-form .avatar-input {
  margin-left: 75px;
}
.save-btn {
  height: 40px;
  width: 400px;
  border-radius: 10px;
  border: none;
  background-color: #3d26c1;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
}
.save-btn:hover {
  background-color: #2a1787;
}
